<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chs-tonight2.0 - About</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>
<body>

    <h1>About</h1>

    <nav>
        <a href="/">home</a>
        <a href="/contact">contact</a>
    </nav>

    <hr>

    <h2>
        This is a remake of the original <a href="http://chs-tonight.com/">chs-tonight</a> project that seems to no longer be maintained.
    </h2>
</body>
</html>