<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="static/favicon.ico">
        <meta charset="UTF-8">
        <title>CHS Happenings - Home</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="transparent">
            <br>
            <nav>
                <ul class="horizontal">
                    <li>
                        <a href="/">home</a>
                    </li>
                    |
                    <li>
                        <a href="about">about</a>
                    </li>
                    |
                    <li>
                        <a href="contact">contact</a>
                    </li>
                </ul>
            </nav>
            {%block content%}{%endblock%}
        </div>
    </body>
</html>