<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/favicon.ico">
    <meta charset="UTF-8">
    <title>CHS Happenings - Contact</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="transparent">
        <h1 id="title">Contact</h1>
        <h2 id="subtitle">Have a suggestion?</h2>

        <hr>

        <nav>
            <ul class="horizontal">
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="about">about</a>
                </li>
                <li>
                    <a href="contact">contact</a>
                </li>


            </ul>
        </nav>

        <hr>

        <h2>Send me a message</h2>

        <div id="contact">
            <h2><a href="https://twitter.com/lonelyhacker69">Twitter</a></h2>
            <h2><a href="https://www.linkedin.com/in/ryanblitch/">LinkedIn</a></h2>
            <h2><a href="https://github.com/rybli">GitHub</a></h2>
        </div>
    </div>

</body>
</html>