{% extends "base.html" %}
{% block content %}
    <h1 id="title">Charleston Happenings</h1>
    <h2 id="subtitle">See what's happening in Charleston tonight!</h2>

    <hr>

    <h1>Tonight <br> {{ date_today }}</h1>

    <hr>

    <!--For each venue, if event happening create an HTML entry-->
    {% for key, value in results.items() %}
        {% if value != None %}
            <div class="venueName">
                <b>{{ key }}</b> - {{ value }}
                <hr>
            </div>
        {% endif %}
    {% endfor %}

    <!--Placeholder for now until I get weekly events created.-->
    <h1>This Week <br> {{ date_week }}</h1>

    <hr>

    <!--For each venue, if event happening create an HTML entry-->
    {% for key, value in results.items() %}
        {% if value != None %}
            <div class="venueName">
                <b>{{ key }}</b> - {{ value }}
                <hr>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}