{% extends "base.html" %}
{% block content %}
    <h1 id="title">Charleston Happenings</h1>
    <h2 id="subtitle">See what's happening in Charleston tonight!</h2>

    <hr>

    <h1>Tonight <br> {{ date_today }}</h1>

    <hr>

    <!--For each venue, if event happening create an HTML entry-->
    {% for item in results.items() %}
        {% if item[1][0] %}
            <div class="venueName">
                <b>{{ item[0] }}</b>
                {% for event in item[1][0] %}
                    <br>{{ event | join('') }}
                {% endfor %}
                <hr>
            </div>
        {% endif %}
    {% endfor %}

    <h1>This Week <br> {{ date_week }}</h1>

    <hr>

    <!--For each venue, if event happening create an HTML entry-->
    {% for item in results.items() %}
        {% if item[1][1] %}
            <div class="venueName">
                <b>{{ item[0] }}</b>
                {% for event in item[1][1] %}
                    <br>{{ event | join('') }}
                {% endfor %}
                <hr>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}